<div class="tictactoe-board">
    @for(int row = 0; row < board.RowCount; row++)
    {
        <div class="tictacttoe-column">
            @for(int column = 0; column < board.ColumnCount; column++)
            {
                CellState cell = board.Cells[row, column];
                var savedRow = row;
                var savedColumn = column;
                ;
                <div class="tictactoe-cell
                    tictactoe-cell-@cell.ToString()"
                    @onclick="() => CellClick(savedRow, savedColumn)" 
                />
            }
        </div>
    }
</div>

@code {
    Board board = new Board();

    // Задание: Перенест логику из CellClick в NextTurn
    void CellClick(int row, int column)
    {
        board.NextTurn(row, column);
    }
}
